name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 25
      uses: actions/setup-java@v1
      with:
        java-version: 25
    - name: Build with Maven
      run: mvn -P api-test,dev-local-h2 -B package --file pom.xml
